* {
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  user-select: none;
  color: #252525;
}

#field-space {
  display: flex;
  flex-wrap: wrap;
}

.marker {
  text-align: center;
  font-weight: bold;
  padding: 10px;
}

.field {
  display: grid;
  margin: 10px;
  grid-template-columns: repeat(11, 1fr);
}

.game-cell {
  margin: 1px;
  border: 1px solid #b4b4ff;
}

.enemy-cell:hover {
  background-color: lightgreen;
  border: 1px solid green;
}
