* {
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  user-select: none;
}

h1 {
  color: #252525;
}

#field-space {
  display: flex;
  flex-wrap: wrap;
}

.marker__wrapper {
  width: 1em;
  height: 1em;
}

.marker {
  width: 100%;
  text-align: center;
  font-weight: bold;
}

.field {
  display: grid;
  margin: 10px;
  grid-template-columns: repeat(11, 1fr);
}

.game-cell {
  border: 1px solid #b4b4ff;
  padding: 10px;
}

.coordinate-cell {
  color: #252525;
  padding: 10px;
}

.enemy-cell:hover {
  background-color: lightgreen;
  border: 3px solid green;
}
